@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";

.container {
	width: 900px;
	margin: auto;
}

#box{

cursor: pointer;
}

.add_todo a, a:hover{
	text-decoration: none;
}

.tasks_complete {
	border-left: 1px solid #e7e7e7;

}
.alert {
	margin-bottom: 0px;
}