<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
       
      </button>
      <a class="navbar-brand" href="/users/<%= "#{current_user.id}" %>">ToDo App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
        
      <ul class="nav navbar-nav navbar-right">
          <li class="nav navbar-nav navbar-right-item"><%= link_to 'Dashboard',users_dashboard_path(current_user.id), class: "modal-btn navbar-right-1" %></li>
          <li class="nav navbar-nav navbar-right-item"><%= link_to 'Log out',users_logout_path, method: :delete, class: "modal-btn navbar-right-1" %></li>
     
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

